<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="BIND_APPWIDGET" />
    <uses-permission android:name="BIND_APPWIDGET_HOST" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLauncher"
        tools:targetApi="34">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AddFileActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".files.icons.selection.EditFileIconActivity" />
        <activity android:name=".EditFileNameActivity" />
        <activity android:name=".WidgetSetupActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:theme="@style/PreferenceTheme" />
    </application>

</manifest>